.addingForm {
  font-family: var(--primaryFont);
  font-size: var(--nFontSize);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 10px 0px 20px 0px;
}

form > div:not(.select) {
  background-color: #fff;
}

.addingForm form div:nth-child(odd) {
  margin: 10px 0px;
}

.addingForm form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.addingForm textarea {
  width: calc(100% - 20px);
  padding: 10px;
}

.addingForm .recipe {
  padding-left: 10px;
}

.addingForm form > div:not(.select) {
  border: 1px solid hsl(0, 0%, 80%);
}

.addingForm div input, .form-textarea {
  background-color: #fff;
}

.input--wrapper {
  padding: 10px;
  font-size: var(--nFontSize);
  background-color: #fff;
}

.sections-box {
  display: flex;
  align-items: center;
}

.sections-box:nth-child(n+1) {
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.addingForm input[type="submit"] {
  border: 1px solid hsl(0, 0%, 80%);
}

.delete-box button {
  background-color: #fff;
  padding: 5px;
  font-size: var(--lFontSize);
  cursor: pointer;
}

.addingForm input[type="submit"] {
  font-size: var(--lFontSize);
}

.add-btn, .addingForm input[type="submit"] {
  margin-top: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  background-color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover, .addingForm input[type="submit"]:hover {
  background-color: #24BD30;
  color: #fff;
}

.addingForm form .css-t3ipsp-control {
  box-shadow: 0 0  0 1px hsl(0, 0%, 80%);
}

.addingForm form .css-t3ipsp-control:hover, .addingForm form .css-t3ipsp-control:focus {
  border-color: hsl(0, 0%, 80%);
}

body{ min-height: 100vh; margin:0; }