.blog {
  padding: 20px 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dayli--heading,
.fitatuBlog--heading {
  margin: 6em 0;
}
.dayli,
.fitatuBlog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.fitatuBlog--wrapper {
  margin: 6em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
.fitatuBlog--button {
  background-color: var(--secondaryColor);
  border-radius: 4px;
  padding: 12px 24px;
  align-self: flex-end;
}
.fitatuBlog--button:hover {
  color: var(--primaryWhiteColor);
}
.add {
  margin: 6rem 0;
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  color: white;
  width: 100%;
}
