.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
  background-color: var(--customBlackColor);
}

.footer p {
  text-align: center;
  word-spacing: 0.25rem;
  font-family: var(--secondaryFont);
  color: #fff;
}
