.recipeItem {
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: 4px;
  font-family: var(--primaryFont);
  -webkit-box-shadow: 0px 4px 7px 0px rgba(219, 220, 233, 1);
  -moz-box-shadow: 0px 4px 7px 0px rgba(219, 220, 233, 1);
  box-shadow: 0px 4px 7px 0px rgba(219, 220, 233, 1);
}

.recipeItem--wrapper__outer {
  position: relative;
}

.recipeItem--wrapper__outer i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: var(--lFontSize);
  cursor: pointer;
  transition: 0.2s;
}

.recipeItem--wrapper__outer i:hover {
  color: red;
}

.recipeItem--wrapper__outer {
  padding: 20px;
}
.recipeItem--image {
  height: 220px;
  object-fit: cover;
}
.recipeItem--title {
  margin: 40px 0 20px 0;
  align-self: flex-start;
  font-size: var(--lFontSize);
}
.recipeItem--wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
  margin-top: 10px;
}

.brick {
  background-color: #ccc;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  padding: 12px 24px 12px 18px;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid var(--primaryGreyColor);
}

.recipeItem--button {
  margin-top: 10px;
  background-color: transparent;
  color: var(--primaryColor);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
}
@media only screen and (max-width: 550px) {
  .recipeItem--wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
