@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');

:root {
  --fullBlackColor: black;
  --customBlackColor: #2a2b2e;
  --primaryColor: #a5cb54;
  --primaryGreyColor: #f2f2f2;

  --primaryFont: 'Roboto';
  --secondaryFont: 'Roboto Mono';
  --logoFont: 'Rosarivo';

  --primaryBorderRadius: 15;
}
