@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
:root {
  --fullBlackColor: black;
  --customBlackColor: #2a2b2e;
  --primaryColor: #a5cb54;
  --secondaryColor: #ff8700;
  --primaryGreyColor: #f2f2f2;
  --primaryWhiteColor: #ffffff;
  --secondaryColor: #24BD30;
  --logoColor: #1e1e1e;

  --primaryFont: 'Roboto';
  --secondaryFont: 'Roboto Mono';
  --logoFont: 'Rosarivo';

  --primaryBorderRadius: 10px;
  --headingFontSize: 50px;
  --nFontSize:16px;
  --mFontSize: 20px;
  --lFontSize: 26px;
  --xlFontSize: 36px;
  --primaryShadow: drop-shadow(3px 4px 9px rgba(0, 0, 0, 0.25));
}
