.headingImage {
  padding: 10px min(4vw, 4.85rem) min(4vw, 4.85rem) min(4vw, 4.85rem);
}
.headingImage img {
  width: 100%;
}
.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primaryColor);
  padding: 20px 10px 20px 10px;
  margin: 0 auto;
  z-index: -1;
  overflow: hidden;
}
.section-text {
  font-family: var(--secondaryFont);
}
.section::after,
.section::before {
  content: '';
  position: absolute;
  width: 1440px;
  left: -30%;
  height: 80px;
  background-color: #fff;
  z-index: 0;
  display: none;
}

.section::after {
  top: 30%;
  transform: rotate(140deg);
}

.section::before {
  top: 70%;
  transform: rotate(40deg);
}

.section-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  padding: 20px 20px 0 20px;
  width: 100%;
  max-width: 425px;
  background-color: #fff;
  z-index: 1;
}

.section-box div {
  max-width: 300px;
  border-radius: var(--primaryBorderRadius);
}

.section img {
  width: 300px;
}
p {
  line-height: 1.3;
}
@media only screen and (min-width: 375px) {
  .section-box {
    padding: 20px 20px 20px 20px;
  }
}

@media only screen and (min-width: 670px) {
  .section::after,
  .section::before {
    display: block;
  }
  .section-box {
    justify-content: space-evenly;
    background-color: transparent;
    max-width: 1024px;
  }

  .section-box div {
    background-color: #fff;
    padding: 30px;
  }

  .section-box:nth-child(2) div {
    order: 1;
  }
}
.functions,
.opinions {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: min(4vw, 4.85rem);
  margin-top: 60px;
}
.functions {
  background-color: var(--primaryGreyColor);
}
.functions--heading,
.options--heading {
  font-family: var(--primaryFont);
  font-size: var(--headingFontSize);
  text-align: center;
}
.functions--wrapper {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  display: grid;
  margin-top: 5.31em;
  gap: 5.2em;
  font-family: var(--secondaryFont);
}
.functions--option {
  text-align: center;
  display: inline-block;
  font-size: clamp(16px, 1.415rem, 2rem);
}
.opinions--wrapper {
  margin-top: 5.31em;
  display: flex;
  justify-content: center;
  gap: 5.2em;
}
@media only screen and (max-width: 750px) {
  .opinions--wrapper {
    flex-direction: column;
    justify-content: center;
  }
}
